@import "bootstrap/dist/css/bootstrap";

/* prettier-ignore */
@mixin respond($breakpoint) {
  // max-width
  @if $breakpoint == tablet-landscape {
    @media only screen and (max-width: 75em) {              // 1200px / 16 = 75em
      @content;
    }
  }
  @if $breakpoint == tablet-portrait {
    @media only screen and (max-width: 56.25em) {           // 900px / 16 = 56.25em
      @content;
    }
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {            // 600px / 16 = 37.5
      @content;
    }
  }

  //min-width
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {          // 1800px / 16 = 112.5em
      @content;
    }
  }
}

/*--------------- Variables -----------------*/

$color-black: #222222;
$color-light-gray: #ebebeb;

$color-light-green: #96ffc5;

/*--------------- General rules -----------------*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-light-gray !important;
}

/*--------------- shared/_errors -----------------*/

.custom__alert-error {
  margin: 0 auto;
  text-align: left;
  width: 55rem;

  @include respond(tablet-portrait) {
    width: 90%;
  }
}

/*--------------- layouts/_messages -----------------*/

.custom__alert-success {
  margin: 0.5rem auto;
  text-align: left;
  width: 55rem;

  @include respond(tablet-portrait) {
    width: 90%;
  }
}

/*---------------- application.html.erb ----------------*/

/* ----- navigation ----- */

.navbar {
  background-color: $color-black;

  #logo {
    color: $color-light-gray;
    font-size: 1.7em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $color-light-gray;

        display: inline-block;
        position: relative;
        margin: auto 0.5rem;
        padding: 0rem 0.1rem;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          display: inline-block;
          width: 0;
          height: 1.5px;
          background-color: white;

          transition: all 0.2s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .navbar-toggler {
    border: 1px solid $color-light-gray;

    .containerIcon {
      display: inline-block;
      cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
      width: 20px;
      height: 3px;
      background-color: $color-light-gray;
      margin: 4px 0;
    }
  }
}

/* ----- footer ----- */

#footer {
  flex-shrink: 0;

  height: 6rem;
  padding: 1rem;
  background-color: $color-black;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .footer__icons {
    margin: 0.7rem;

    a {
      &:not(:last-of-type) {
        margin-right: 3rem;
      }

      display: inline-block;
      transition: all 0.2s;

      &:link,
      &:visited {
        text-decoration: none;
        color: $color-light-gray;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: rgba(75, 75, 75, 0.4) -5px 5px,
          rgba(75, 75, 75, 0.3) -10px 10px, rgba(75, 75, 75, 0.2) -15px 15px,
          rgba(75, 75, 75, 0.1) -20px 20px, rgba(75, 75, 75, 0.05) -25px 25px;
      }
    }
  }

  .footer__description {
    color: $color-light-gray;
    margin: 0;
  }
}

/*--------------- pages/home.html.erb -----------------*/

.main-container {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      rgba(129, 129, 129, 0.75),
      rgba(192, 192, 192, 0.75)
    ),
    asset-url("pattern.svg");
  background-size: 20rem;
  background-repeat: repeat;

  padding: 0 5%;

  .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.97),
        rgba(0, 0, 0, 0.95)
      ),
      asset-url("homepage-hero.jpg");
    background-size: cover;
    background-position: bottom right;
    height: 80%;
    margin-bottom: 0;
  }
}

/*--------------- articles/index -----------------*/

.articles-container {
  flex: 1 0 auto;
  background-color: $color-light-gray;
  padding-top: 3rem;

  .card {
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 4rem auto;
    width: 40rem;

    &:first-of-type {
      margin-top: 3rem;
    }

    @include respond(tablet-portrait) {
      width: 85%;
    }

    &-title {
      font-weight: bold;
      color: green;
      letter-spacing: 1px;
    }

    &__buttons {
      a {
        display: inline-block;
        transition: all 0.2s;

        &:not(:last-of-type) {
          margin-right: 1rem;
        }

        &:hover {
          transform: translateY(-3px);
          font-weight: 500;
        }
      }
    }
  }
}

/*--------------- articles/_form -----------------*/

.custom__form {
  background-color: #1f334a;
  border: 5px solid #fff;
  border-radius: 15px;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: left;
  width: 55rem;

  @include respond(tablet-portrait) {
    width: 90%;
  }

  .custom__input,
  .field_with_errors {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;

    input {
      display: block;
      width: 100%;

      &:focus {
        outline: 2px solid #ffa164;
      }

      &::placeholder {
        color: rgba(128, 128, 128, 0.5);
        font-style: italic;
        font-weight: 600;
      }
    }

    textarea {
      display: block;
      width: 100%;
      height: 35vh;
      resize: none;

      &::placeholder {
        color: rgba(128, 128, 128, 0.5);
        font-style: italic;
        font-weight: 600;
      }

      &:focus {
        outline: 2px solid #ffa164;
      }
    }
  }

  .custom__buttom {
    text-align: center;
    margin-top: 2rem;

    input {
      border: none;
      border-radius: 5px;
      color: #1f334a;
      font-weight: 600;
      letter-spacing: 0.3px;
      transition: all 0.2s;
      padding: 0.5rem 1rem;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

/*--------------- articles/new -----------------*/

.new-articles-container {
  flex: 1 0 auto;
  background-color: $color-light-gray;
  padding-top: 3rem;
  text-align: center;

  h1 {
    margin-bottom: 2rem;
  }
}

/*--------------- articles/show -----------------*/

.show-articles-container {
  flex: 1 0 auto;
  background-color: $color-light-gray;
  padding-top: 3rem;
  text-align: center;

  h1 {
    margin-bottom: 2rem;
  }
}

/*--------------- articles/edit -----------------*/

.edit-articles-container {
  flex: 1 0 auto;
  background-color: $color-light-gray;
  padding-top: 3rem;
  text-align: center;

  h1 {
    margin-bottom: 2rem;
  }
}
